@font-face {
  font-family: "press-start";
  src: url("../fonts/press-start.k.ttf") format("opentype");
}

body {
  position: fixed;
  background: url("../bg/alien-invaders-1.png") no-repeat fixed center;
  background-size: cover;
  z-index: -1;
  width: 100%;
  font-family: "press-start";
  margin: auto;
  font-size: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "header" "content" "footer";
  margin: auto;
  width: 100%;
  color: #fff;
  z-index: 0;
}

/*------------------------*/

/*------------------------*/
.screen-active {
  display: grid;
}
.screen-inactive {
  display: none;
}

/*------------------------*/
main {
  grid-area: content;
}
#start-screen {
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
}

#start-heading {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  display: grid;
  align-items: center;
  font-size: 2.8rem;
}
#start-buttons {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  align-items: center;
  margin: auto;
}
.button-styles {
  font-family: "press-start";
  font-size: 1.5rem;
  width: 240px;
  height: 60px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #05a8a8;
  color: #fff;
  border: none;

  transition: background-color 0.5s;
}

.button-styles:hover {
  background-color: #1f8686;
}

#start-start {
  grid-column: 1;
  grid-row: 1;
}
#start-settings {
  grid-column: 1;
  grid-row: 2;
}
#start-control {
  grid-column: 1;
  grid-row: 3;
}

/*------------------------*/

#game-screen {
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 5vh 75vh 10vh;
  background-color: rgba(0, 0, 0, 0.7);
}

#game-score {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  align-items: center;
  margin: auto;
}
#game-score p {
  font-size: 1.5rem;
}
#game-canvas {
  grid-column: 1;
  grid-row: 2;

  border-radius: 3px;
  border-radius: 10px;
}
#game-canvas-screen {
  width: 100%;
  height: 100%;
}
#game-screen-start {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  margin: auto;
  z-index: 1;
  text-align: center;
}
#game-screen-start button {
  margin: auto;
  width: 170px;
}
#game-screen-win {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  margin: auto;
  z-index: 1;
  text-align: center;
}
#game-screen-lose {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  margin: auto;
  z-index: 1;
  text-align: center;
}

#game-screen-lose-buttons {
  margin: auto;
}

.game-screen-active {
  display: grid;
}

.game-screen-inactive {
  display: none;
}

#start-pause {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
#start-pause-back {
  grid-column: 1;
  grid-row: 1;
  margin: 0 5px;
}
#start-pause-start {
  grid-column: 2;
  grid-row: 1;
  margin: 0 5px;
}
#start-pause-pause {
  grid-column: 3;
  grid-row: 1;
  margin: 0 5px;
}
#game-screen-pause {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  margin: auto;
  z-index: 1;
  text-align: center;
}

/*------------------------*/

#settings-screen {
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 20% 90%;
  background-color: rgba(0, 0, 0, 0.7);
}
#settings-back {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  align-items: center;
  margin: auto;
}
#settings-select-difficulty {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100px;
  text-align: left;
  margin: 0 auto;
  column-gap: 150px;
}
#settings-select-difficulty label {
  grid-column: 1;
  grid-row: 1;
}
#settings-select-difficulty select {
  grid-column: 2;
  grid-row: 1;

  font-family: "press-start";
  font-size: 2rem;
  width: 300px;
  height: 70px;
  padding: 0px 10px;
}

#settings-select-difficulty select option {
  padding: 8px 16px;
  font-size: 2rem;
}

/*------------------------*/

#controls-screen {
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: 20% 90%;
  background-color: rgba(0, 0, 0, 0.7);
}
#controls-back {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  display: grid;
  align-items: center;
}
#controls-controls {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100px 100px 100px;
  text-align: left;
  margin: 0 auto;
  column-gap: 150px;
}
#controls-label-l {
  grid-column: 1;
  grid-row: 1;
}
#controls-key-l {
  grid-column: 2;
  grid-row: 1;
}
#controls-label-r {
  grid-column: 1;
  grid-row: 2;
}
#controls-key-r {
  grid-column: 2;
  grid-row: 2;
}
#controls-label-click {
  grid-column: 1;
  grid-row: 3;
}
#controls-key-click {
  grid-column: 2;
  grid-row: 3;
}

/*------------------------*/
